<div class="footer">
  <div class="container">
    <h2 class="pt-4">Get the FreshCart app</h2>
    <p class="lead">We will send a link, open it on you phone to download the app.</p>

    <div class="row mb-4">
      <div class="col-md-10">
        <input class="form-control" placeholder="Email ..">
      </div>
      <div class="col-md-2">
        <button class="btn btn-success">Share App Link</button>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-12 col-md-5 Payment">
        <span class="fw-bold">Payment Parteners</span>
        <img src="assets/images/Footer/Amazon-Logo.png" alt="">
        <img src="assets/images/Footer/American.png" alt="">
        <img src="assets/images/Footer/MasterCard_Logo.png" alt="">
        <img src="assets/images/Footer/PayPal-Logo.png" alt="">
      </div>
      <div class="col-sm-12 col-md-2"></div>
      <div class="col-sm-12 col-md-5 deliveries justify-content-end">
        <span class="fw-bold">Get deliveries with FreshCard</span>
        <img src="assets/images/Footer/apple-app-store-logo.jpg" alt="">
        <img src="assets/images/Footer/google-play.png" alt="">
      </div>
    </div>
    <hr class="pb-4">
  </div>
</div>

