<div class="container forgetpage">
  <h2 class="mb-4">Forget Password:</h2>

  <!-- Error from server -->
  <div *ngIf="errorMsg" class="alert alert-danger mb-2 mt-3 py-2">
    <p class="mb-0">{{errorMsg}}</p>
  </div>

  <ng-container *ngIf="!SentCode">
    <form  [formGroup]="EmailForm" (ngSubmit)="SendMail()">
      <!-- Email  -->
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" formControlName="email" placeholder="Ex. c2@gmail.com">
          </mat-form-field>

          <div *ngIf="EmailForm.get('email')?.errors && EmailForm.get('email')?.touched" class="text-danger closer">
            <p *ngIf="EmailForm.get('email')?.getError('required')" class="mb-0">Email is<strong> required</strong></p>
            <p *ngIf="EmailForm.get('email')?.getError('email')"class="mb-0">Enter <strong>valid</strong> email</p>
          </div>


          <button type="submit" class="btn btn-success d-block mb-3" [disabled]="EmailForm.invalid">
            Send code
            <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin ms-1"></i>
          </button>
    </form>
  </ng-container>


  <ng-container *ngIf="SentCode" >
    <h5 class="text-center text-success">Please check your mail inbox to get the code .. </h5>

    <form [formGroup]="CodeForm" (ngSubmit)="VerifyCode()">
      <!-- Email  -->
          <mat-form-field class="example-full-width">
            <mat-label>Code</mat-label>
            <input matInput id="resetCode" formControlName="resetCode">
          </mat-form-field>

          <div *ngIf="CodeForm.get('resetCode')?.errors && CodeForm.get('resetCode')?.touched" class="text-danger closer">
            <p *ngIf="CodeForm.get('resetCode')?.getError('required')" class="mb-0">Code is<strong> required</strong></p>
          </div>


          <button type="submit" class="btn btn-success d-block mb-3" [disabled]="CodeForm.invalid">
            Send code
            <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin ms-1"></i>
          </button>
    </form>
  </ng-container>


</div>
