<div class="product px-2 py-2">
  <i [class]="product.wishlist +' fa-heart'" (click)="clickToWishlist(product.id)"></i>
  <a [routerLink]="['/ProductDetails',product.id]">
    <img [src]="product.imageCover" class="w-100" alt="imageCover">
    <p class="text-main">{{product.category.name}}</p>
    <h2 class="h6 garage-title" *ngIf="product.title.split(' ').length <= 2;else moreTilte">
      {{product.title.split(" ").splice(0,2).join(" ")}}
    </h2>
    <ng-template #moreTilte>
      <h2  class="h6 inOneLine" mat-raised-button matTooltip={{product.title}}>
        {{product.title.split(" ").splice(0,2).join(" ")}} ...
      </h2>
    </ng-template>

    <div class="d-flex justify-content-between">
      <span>{{product.price}} EGP</span>
      <div>
        <i class="fa-solid fa-star ratingColor"></i>
        {{product.ratingsAverage}}
      </div>
    </div>
  </a>
  <button
  class="btn bg-main w-100 mt-1"
  style="background-color: #0aad0a;color: #fff;"
   mat-stroked-button (click)="addToCart(product.id)">
   + Add
  </button>
</div>

