/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@300&display=swap');

body{padding-top: 150px;}
*{
  font-family: 'Encode Sans', sans-serif;
}

.cursorPointer{cursor: pointer;}

/*Product*/
.ratingColor{color: #ffc908;}
.product:hover
{
  box-shadow:rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
  border: solid 1px #0aad0a
}
.product .btn
{
  transition: transform 1s , opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn
{
    opacity: 1;
    transform: translateY(0%);

}
.text-main{color: #0aad0a;}
.bg-main{background-color: #0aad0a;color: #fff;}

a , a:hover{
  color: black;
  text-decoration: none;
}

.inOneLine {
  white-space: nowrap;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




/*scroll bar*/
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
background-color: #3f4142;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.5) inset;
}
