<div class="container">
  <div class="row g-0">
    <div class="col-md-9 slider">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img src="assets/images/slider-image-1.jpeg" alt="slider Image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/slider-image-2.jpeg" alt="slider Image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/slider-image-3.jpeg" alt="slider Image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/slider-2.jpeg" alt="slider Image">
        </ng-template>
        <ng-template carouselSlide>
          <img src="assets/images/grocery-banner-2.jpeg" alt="slider Image">
        </ng-template>
      </owl-carousel-o>
    </div>

    <div class="col-md-3 blog">
      <img src="assets/images/blog-img-1.jpeg" alt="blog Image">
      <img src="assets/images/blog-img-2.jpeg" alt="blog Image">

    </div>
  </div>


</div>

