<div class="container">
  <h2 class="mb-4">Register Now:</h2>

<!-- Error from server -->
  <div *ngIf="errorMsg" class="alert alert-danger py-2">
    <p class="mb-0">{{errorMsg}}</p>
  </div>


  <form  class="form-group" [formGroup]="ResetForm" (ngSubmit)="Reset()">
<!-- Email  -->
    <mat-form-field class="example-full-width">
      <mat-label >Email (disabled)</mat-label>
      <input matInput disabled value="{{email}}">
    </mat-form-field>

<!-- Password -->
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="{{InTypePass}}" id="password" formControlName="password" placeholder="Ex. Beshoy123lo">
      <mat-icon (click)="toggleShowPassword()" matSuffix>visibility_off</mat-icon>
    </mat-form-field>

    <div *ngIf="ResetForm.get('password')?.errors && ResetForm.get('password')?.touched" class="text-danger closer">
      <p *ngIf="ResetForm.get('password')?.getError('required')" class="mb-0">Password is <strong>required</strong></p>
      <p *ngIf="ResetForm.get('password')?.getError('pattern')"class="mb-0">Password must start with <strong>capital char and contain at least 6 chars and digits</strong></p>
    </div>
<!-- repassword -->
    <mat-form-field class="example-full-width">
      <mat-label>rePassword</mat-label>
      <input matInput type="{{InTypeRePass}}" type="password" id="rePassword" formControlName="rePassword" placeholder="Ex. Ex. Beshoy123lo">
      <mat-icon (click)="toggleShowRePassword()" matSuffix>visibility_off</mat-icon>
    </mat-form-field>

    <div *ngIf="ResetForm.get('rePassword')?.errors && ResetForm.get('rePassword')?.touched" class="text-danger closer">
      <p *ngIf="ResetForm.get('rePassword')?.getError('required')" class="mb-0">rePassword is <strong>required</strong></p>
      <p *ngIf="ResetForm.get('rePassword')?.getError('RepasswordNotMathced')"class="mb-0">rePassword must <strong>match</strong> password</p>
    </div>

    <button type="submit" class="btn btn-success d-block" [disabled]="ResetForm.invalid">
      Done
      <i *ngIf="isLoading" class="fa-solid fa-spinner fa-spin ms-1"></i>
    </button>



  </form>


</div>
